<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrayLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <TrayLauncher.Properties.Settings>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>137</value>
            </setting>
            <setting name="StartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="StartNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XMLfile" serializeAs="String">
                <value />
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="Icon" serializeAs="String">
                <value>orange</value>
            </setting>
            <setting name="SeparatorColor" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="HideOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShadeAltRows" serializeAs="String">
                <value>True</value>
            </setting>
        </TrayLauncher.Properties.Settings>
    </userSettings>
</configuration>